<div class="row">
  <div class="col-sm-4">
    <%= simple_form_for([:admin, @equipe_funcao], wrapper: :vertical_form, html: { class: "form-vertical", role: "form" }) do |f| %>
      <%= f.input :equipe_id, as: :select, collection: @equipes %>
      <%= f.input :funcao_id, as: :select, collection: @funcoes %>      
      <%= f.input :minimo %>
      <%= f.input :maximo %>
      <div class="form-actions">
        <%= f.submit "Salvar", :class => 'btn btn-primary' %>
        <%= link_to "Cancelar", admin_equipe_funcoes_path, :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
