<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for([:admin, @uo], wrapper: :vertical_form, html: { class: "form-vertical", role: "form" }) do |f| %>
      <%= f.input :nome %>
      <%= f.input :sigla %>
      <%= f.input :cnpj, class: 'form-control', :"data-mask" => "99.999.999/9999-99" %>
      <%= f.input :codigo_ug, class: 'form-control' %>
      <%= f.input :endereco, class: 'form-control' %>
      <%= f.input :complemento, class: 'form-control' %>
      <%= f.input :bairro, class: 'form-control' %>
      <%= f.input :estado_id, as: :select, collection: @estados, prompt: "Selecione um estado" , input_html: { :data => { :url => update_cidades_admin_uos_path, target: "#uo_cidade_id" }, class: "chosen-select ajax-update-select" } %>
      <%= f.input :cidade_id, as: :select, collection: @cidades, prompt: "É preciso selecionar um estado primeiro", input_html: { class: "chosen-select" } %>
      <%= f.input :cep, class: 'form-control' %>
      <div class="form-actions">
        <%= f.submit "Salvar", :class => 'btn btn-primary' %>
        <%= link_to "Cancelar", admin_uos_path, :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
