<%= error_message resource %>

<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "logo_ejc.png", style: "width: 350px;" %>
      <h2 class="font-bold">Bem vindo ao sistema do EJC</h2>
      <p> Efetue login utilizando seu login e senha. </p>
    </div>
    <div class="col-md-6">
      <div class="ibox-content" style="min-height: 280px;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form", class: "m-t" }) do |f| %>
          <div class="form-group">
            <%= f.text_field :username, :autofocus => true, :placeholder => "Login de Usuário", :title => tooltip_error_title(resource, :username), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :placeholder => "Senha", :title => tooltip_error_title(resource, :password), class: "form-control" %>
          </div>

          <%= f.submit "Login", :class=> 'btn btn-primary' %>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
