<div class="row">
  <div class="col-sm-8">
    <%= simple_form_for([:admin, @user], wrapper: :vertical_form, html: { class: "form-vertical", role: "form", autocomplete: "off" }) do |f| %>
      <%= f.input :nome %>
      <%= f.input :username, disabled: !current_user.super_admin? %>
      <%= f.input :email %>
      <%= f.input :telefone, input_html: { :"data-mask" => '(99) 99999-9999' } %>
      <% display = "" %>
      <% if !@user.new_record? %>
        <div class="row">
          <div class="form-group col-md-5">
            <a id="show_password" href="#">Alterar senha</a>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5">
            Caso queira alterar a senha do usuário no AD, clique <%= link_to "aqui", "http://suap.ifce.edu.br/comum/solicitar_trocar_senha/", target: "_blank" %>.
          </div>
        </div>
        <% display="display:none;" %>
      <% end %>
      <div id="password" style="<%=display%>">
        <%= f.input :password, label: "Senha" %>
      </div>
      <div id="password_confirmation" style="<%=display%>">
        <%= f.input :password_confirmation, label: "Confirmação de senha" %>
      </div>
      <%= f.input :ad_user, label: "Tipo de autenticação", as: :select, collection: [["Apenas AD",true], ["Híbrido",false]], prompt: "Selecione um Tipo de Autenticação", input_html: { class: "chosen-select" } %>
      <%= f.input :role_id, label: "Papel", as: :select, collection: @roles, prompt: "Selecione uma Role", input_html: { class: "chosen-select" } %>
      <%= f.input :uo_id, as: :select, collection: @uos, prompt: "Selecione uma Uo", input_html: { class: "chosen-select" } %>

      <div class="form-actions">
        <%= f.submit "Salvar", :class => 'btn btn-primary' %>
        <%= link_to "Cancelar", admin_users_path, :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
