<!DOCTYPE html>
<html>
  <head>
    <title>
      Rails 5 App Template
    </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <% if !current_user.blank? %>
    <body style="background-color: background-color: #293846;">
      <div id="wrapper">
        <%= render "layouts/menu_left" %>
        <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 100vh;">
          <%= render "layouts/menu_top" %>
          <div class="wrapper wrapper-content">
              <%= display_flash_messages %>
              <%= yield %>
          </div>
        </div>
      </div>
    </body>
  <% else %>
    <body class="gray-bg">
      <%= display_flash_messages %>
      <%= yield %>
    </body>
  <% end %>
</html>
